<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101819601862-jmure918oejt6v246db59an5l4lj9vij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101819601862-jmure918oejt6v246db59an5l4lj9vij</string>
	<key>API_KEY</key>
	<string>AIzaSyBemWauu9H6Tc3E3lUZ1qrNyyQZxaJ13W0</string>
	<key>GCM_SENDER_ID</key>
	<string>101819601862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GabrielCastilloSerafim.InstaMock</string>
	<key>PROJECT_ID</key>
	<string>instamock-ee04e</string>
	<key>STORAGE_BUCKET</key>
	<string>instamock-ee04e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101819601862:ios:d14d1df70418a7b250d8c7</string>
</dict>
</plist>